.wrapper
    .banner
        .banner__top
            .banner__logo
                img(src="./img/logo.svg" alt="favbet")
            .banner__title
                .banner__title-left
                    .banner__date 8.01
                    .banner__time 21:00
                .banner__title-right
                    .banner__team Атлетік
                    .banner__team Барселона
        .banner__pers
            picture
                img(src="./img/pers.png" alt="favbet")
        .banner__bottom
            .banner__bonus
                .banner__bonus-item БОНУС*
                .banner__bonus-item.item-magenta #[span до]15 000₴
                .banner__bonus-item.fs +300 FS
            .banner__info * Під бонусом розуміється можливість отримати приз в рамках акції «Вітальний бонус». Період дії акції з 01.09.2024 по 31.12.2025 року. Бонус доступний тільки для нових клієнтів. Деталі на сайті favbet.ua.